<label>
    <span>New title</span>
    {{input
    type="text"
    value="newTitle"
    placeholder="Give your block a title"}}
</label>
<label>
    <span>New paragraph</span>
    {{input
    type="text"
    value="newParagraph"
    placeholder="Give your block a paragraph (optional)"}}
</label>
    <span>New image</span>
    {{input
    type="text"
    value="newiImage"
    placeholder="Give your block an image (optional)"}}
</label>
