/* block
 * block--editing
 */

.block {
    border-bottom: 2px solid $white;
    color: $white;
    height: 450px;
    position: relative;
    overflow: hidden;

    &.block--editing {
        .block__controls {
            visibility: visible;
        }
    }
}


.block__content {
    max-width: 75%;
}


.block__image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}


.block__title {
    @include inuit-font-size(32px);
    font-family: $title-font-family;
}


.block__paragraph {
    @include inuit-font-size(20px);
    font-family: $base-font-family;
}


.block__controls {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
}
