.block {
    border-bottom: 2px solid $white;
    color: $white;
    height: 450px;
    position: relative;
}


.block__content {
    max-width: 75%;
}


.block__image {
    background: {
        size: cover;
        position: 50% 50%;
    }
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}


.block__title {
    @include inuit-font-size(32px);
    font-family: $title-font-family;
}


.block__paragraph {
    @include inuit-font-size(20px);
    font-family: $base-font-family;
}
