.block {
    border-bottom: 2px solid $border-color-white;
    color: $text-color-white;
    height: 450px;
    position: relative;
}


.block__image {
    background: {
        size: cover;
    }
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}


.block__title {
    font-family: $font-family-title;
}
