<div class="modal">
    <div class="focuspoint-helper">
        {{#view focusPoint}}
        <img {{bind-attr src=image}}>
        {{/view}}
    </div>
    <button {{action 'closeFocusPointModal'}}>Save focus point</button>
</div>
