<ul class="list list-bare" id="pages">
    {{#each itemController="page"}}
    <li class="page list__item" {{bind-attr style=imageStyle}}>
            {{#link-to 'blocks' this}}
            <img {{bind-attr src=image}} {{bind-attr alt="{{title}}"}}>
            {{/link-to}}
        </li>
    {{/each}}
</ul>
