<h1>{{title}}</h1>

<ul class="page__controls">
    <li>
        {{#link-to 'page.edit'}}edit page{{/link-to}}
    </li>
</ul>


<div class="page__back">
    {{#link-to 'pages'}}back to pages{{/link-to}}
</div>
