.flex {
    display: flex;
}


.center--xy {
    margin: auto;
}


.text--bordered {
    text-shadow: -1px 0 $base-text-color, 0 1px $base-text-color, 1px 0 $base-text-color, 0 -1px $base-text-color;
}


.text--center {
    text-align: center;
}


.text--uppercase {
    text-transform: uppercase;
}
