$font-size-base: 16px;
$font-family-title: "Lato", "Helvetica Neue";
$font-family-paragraph: "Times";


$line-height-base: 24px;


$text-color-base: #333;
$text-color-white: #fff;


$background-color-base: #fff;


$border-color-white: #fff;
