<div class="focuspoint-helper">
    <img class="focuspoint-helper__image" {{bind-attr src=view.image}}>
    <div class="focuspoint-helper__reticle circle"></div>
    <img class="focuspoint-helper__image focuspoint-helper__overlay" {{bind-attr src=view.image}}>
</div>
