<section id="pagesapp">
    <header class="hero" id="hero">
        <h1 class="hero__title">Pages</h1>
    </header>

    <section id="main">
        <ul class="pages__controls">
            <li>
                {{#link-to 'pages.new'}}new page{{/link-to}}
            </li>
        </ul>
        {{outlet}}
    </section>

    <footer>
        <p>{{#link-to 'index'}}back to index{{/link-to}}</p>
        <p>pages footer</p>
    </footer>
</section>
