<div class="page">
    <ul class="page__controls">
        <li>
            {{#link-to 'blocks.new'}}new block{{/link-to}}
        </li>
    </ul>
    {{outlet}}
    <div class="page__back">
        {{#link-to 'pages'}}back to pages{{/link-to}}
    </div>
</div>
